.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}

input::file-selector-button {
    font-weight: bold;
    color: cyan;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco;
    background-color: black;
    border-color: cyan;
    margin-right: 8px;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 100%;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco;
    float: left;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 10px; 
    display: block;
    width: 100%;   
    color: cyan;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco;
    background-color: black;
}

.InputElement:focus {
    outline: none;
    color: rgb(36, 216, 48);
}