.NavigationBar {
    color: cyan;
    width: 10%;
    height: 100%;
    top: 54px;
    left: 0;
    display: inline-block;
    align-items: center;
    padding-left: 15px;
    border-bottom: 0;
}

.NavigationBar .button {
    display: block;
    border-radius: 0%;
    margin-left: 0px;
    width: 100%;
    color: cyan;
    background-color: transparent;
    text-align: left;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: white;
    font-family: "Lucida Console", "Courier New", monaco;
    z-index: 90;

}

.NavigationBar :hover {
    background-color: rgb(36, 216, 48);
    color: black;
    
}

.NavigationBar button.active {
    background-color: white;
    color: black;
    
}