.Toolbar {
    background-color: transparent;
    height: 60px;
    top: 0;
    left: 0;
    color: cyan;
    width: 100%;
    font-size: large;
    padding-left: 15px;
    border: none;
    display: flex;
    padding-bottom: 10px;

}


